.btn-floor, .btn-call {
	background: white;
	color: black;
	font-size: 14px;
}
.btn-floor:hover, .btn-call:hover {
    background: #00ccFF;
    color: white;
    font-weight: bold;
    font-size: 16px;
}
.bg-black {
    background: black;
}
.text-white{
    color: white;
}
.border-black-1{
    border: 1px solid white;
}
.bg-red{
    background: red;
}
